In [1]:
import os
from sqlalchemy import create_engine
from dotenv import load_dotenv
import pandas as pd

load_dotenv(override=True)

# DATABASE CONNECTION
PG_USER = os.environ.get("PG_USER")
PG_PASS = os.environ.get("PG_PASS")
PG_HOST = os.environ.get("PG_HOST")
PG_DB = os.environ.get("PG_DB")
PG_PORT = os.environ.get("PG_PORT")

conn_string = "postgresql://{0}:{1}@{2}:{3}/{4}".format(
    PG_USER, PG_PASS, PG_HOST, PG_PORT, PG_DB)
engine = create_engine(conn_string)
conn = engine.connect()

In [2]:
print(conn_string)

postgresql://postgres:DataWins1!@10.0.0.116:5432/nc_voter

In [3]:
county = pd.read_csv('./helper_tables_20200210/county.csv')
county.shape

(100, 2)

In [4]:
county.to_sql('county',
              if_exists='append',
              index=False,
              method='multi',
              chunksize=100, 
              con=conn)

In [5]:
precinct = pd.read_csv('./helper_tables_20200210/precinct.csv')
precinct.shape

(2765, 3)

In [8]:
precinct.rename(columns = {'name': 'description'}, inplace=True)

In [10]:
precinct[precinct['abbrv'].isna()].shape

(100, 3)

In [11]:
precinct[precinct['abbrv'].isna()].head()

    county_id abbrv description
1           1   NaN         NaN
48          2   NaN         NaN
52          3   NaN         NaN
60          4   NaN         NaN
67          5   NaN         NaN

In [12]:
precinct[~precinct['abbrv'].isna()].to_sql('precinct',
                                           if_exists='append',
                                           index=False,
                                           method='multi',
                                           chunksize=1000,
                                           con=conn)

In [14]:
voter_status = pd.read_csv('./helper_tables_20200210/status.csv')
voter_status.shape

(5, 2)

In [15]:
voter_status.to_sql('voter_status',
                    if_exists='append',
                    index=False,
                    method='multi',
                    chunksize=1000,
                    con=conn)

In [2]:
voter_status_reason = pd.read_csv('./helper_tables_20200217/status_reason.csv')
voter_status_reason.shape

(29, 2)

In [3]:
voter_status_reason.to_sql('voter_status_reason',
                           if_exists='append',
                           index=False,
                           method='multi',
                           chunksize=1000,
                           con=conn)

In [21]:
race = pd.read_csv('./helper_tables_20200210/race.csv')
race.shape

(7, 2)

In [22]:
race

  code                       description
0    B         BLACK OR AFRICAN AMERICAN
1    I  AMERICAN INDIAN OR ALASKA NATIVE
2    O                             OTHER
3    W                             WHITE
4    U                      UNDESIGNATED
5    A                             ASIAN
6    M                 TWO OR MORE RACES

In [23]:
race.to_sql('race',
            if_exists='append',
            index=False,
            method='multi',
            chunksize=1000,
            con=conn)

In [24]:
ethnicity = pd.read_csv('./helper_tables_20200210/ethnicity.csv')
ethnicity.shape

(3, 2)

In [25]:
ethnicity.to_sql('ethnicity',
                 if_exists='append',
                 index=False,
                 method='multi',
                 chunksize=1000,
                 con=conn)

In [26]:
party = pd.read_csv('./helper_tables_20200210/party.csv')
party.shape

(6, 2)

In [27]:
party.to_sql('party',
             if_exists='append',
             index=False,
             method='multi',
             chunksize=1000,
             con=conn)

In [28]:
conn.close()
engine.dispose()