In [1]:
import s3fs
import boto3
from zipfile import ZipFile
import pandas as pd
import io

In [2]:
s3 = s3fs.S3FileSystem(anon=False)

In [30]:
with s3.open('s3://dl.ncsbe.gov/data/ncvoter_Statewide.zip', 'rb') as access:
    access.seek(0)
    with ZipFile(access) as archive:
        print(archive.infolist())
        shapes = []
        first = True
        for chunk in pd.read_csv(archive.open('ncvoter_Statewide.txt'),
                                 sep='\t', encoding = "ISO-8859-1", chunksize=20000, dtype=object):
            shapes.append(chunk.shape[0])
            if first is True:
                chunk.to_csv('voterfile_nc_20200201.csv', index=False, header=True)
                first = False
            else:
                chunk.to_csv('voterfile_nc_20200201.csv', index=False, header=False, mode='a')
        # df = pd.read_csv('ncvoter_Statewide.txt', nrows=10000)
        # with archive.open('ncvoter_Statewide.txt', 'r') as file:
            # df = pd.read_csv(file, nrows=10000)

[<ZipInfo filename='ncvoter_Statewide.txt' compress_type=deflate external_attr=0x20 file_size=3725382603 compress_size=516060512>]

In [31]:
chunk.shape

(14990, 71)

In [32]:
sum(shapes)

7874990

In [18]:
df.shape

(10000, 71)

In [21]:
df.columns

Index(['county_id', 'county_desc', 'voter_reg_num', 'status_cd',
       'voter_status_desc', 'reason_cd', 'voter_status_reason_desc',
       'absent_ind', 'name_prefx_cd', 'last_name', 'first_name', 'middle_name',
       'name_suffix_lbl', 'res_street_address', 'res_city_desc', 'state_cd',
       'zip_code', 'mail_addr1', 'mail_addr2', 'mail_addr3', 'mail_addr4',
       'mail_city', 'mail_state', 'mail_zipcode', 'full_phone_number',
       'race_code', 'ethnic_code', 'party_cd', 'gender_code', 'birth_age',
       'birth_state', 'drivers_lic', 'registr_dt', 'precinct_abbrv',
       'precinct_desc', 'municipality_abbrv', 'municipality_desc',
       'ward_abbrv', 'ward_desc', 'cong_dist_abbrv', 'super_court_abbrv',
       'judic_dist_abbrv', 'nc_senate_abbrv', 'nc_house_abbrv',
       'county_commiss_abbrv', 'county_commiss_desc', 'township_abbrv',
       'township_desc', 'school_dist_abbrv', 'school_dist_desc',
       'fire_dist_abbrv', 'fire_dist_desc', 'water_dist_abbrv',
       'water_dist_desc', 'sewer_dist_abbrv', 'sewer_dist_desc',
       'sanit_dist_abbrv', 'sanit_dist_desc', 'rescue_dist_abbrv',
       'rescue_dist_desc', 'munic_dist_abbrv', 'munic_dist_desc',
       'dist_1_abbrv', 'dist_1_desc', 'dist_2_abbrv', 'dist_2_desc',
       'confidential_ind', 'birth_year', 'ncid', 'vtd_abbrv', 'vtd_desc'],
      dtype='object')

In [29]:
[col+"': object" for col in df.columns]

["county_id': object",
 "county_desc': object",
 "voter_reg_num': object",
 "status_cd': object",
 "voter_status_desc': object",
 "reason_cd': object",
 "voter_status_reason_desc': object",
 "absent_ind': object",
 "name_prefx_cd': object",
 "last_name': object",
 "first_name': object",
 "middle_name': object",
 "name_suffix_lbl': object",
 "res_street_address': object",
 "res_city_desc': object",
 "state_cd': object",
 "zip_code': object",
 "mail_addr1': object",
 "mail_addr2': object",
 "mail_addr3': object",
 "mail_addr4': object",
 "mail_city': object",
 "mail_state': object",
 "mail_zipcode': object",
 "full_phone_number': object",
 "race_code': object",
 "ethnic_code': object",
 "party_cd': object",
 "gender_code': object",
 "birth_age': object",
 "birth_state': object",
 "drivers_lic': object",
 "registr_dt': object",
 "precinct_abbrv': object",
 "precinct_desc': object",
 "municipality_abbrv': object",
 "municipality_desc': object",
 "ward_abbrv': object",
 "ward_desc': object",
 "cong_dist_abbrv': object",
 "super_court_abbrv': object",
 "judic_dist_abbrv': object",
 "nc_senate_abbrv': object",
 "nc_house_abbrv': object",
 "county_commiss_abbrv': object",
 "county_commiss_desc': object",
 "township_abbrv': object",
 "township_desc': object",
 "school_dist_abbrv': object",
 "school_dist_desc': object",
 "fire_dist_abbrv': object",
 "fire_dist_desc': object",
 "water_dist_abbrv': object",
 "water_dist_desc': object",
 "sewer_dist_abbrv': object",
 "sewer_dist_desc': object",
 "sanit_dist_abbrv': object",
 "sanit_dist_desc': object",
 "rescue_dist_abbrv': object",
 "rescue_dist_desc': object",
 "munic_dist_abbrv': object",
 "munic_dist_desc': object",
 "dist_1_abbrv': object",
 "dist_1_desc': object",
 "dist_2_abbrv': object",
 "dist_2_desc': object",
 "confidential_ind': object",
 "birth_year': object",
 "ncid': object",
 "vtd_abbrv': object",
 "vtd_desc': object"]

In [ ]:
'county_id': object,
'county_desc': object,
'voter_reg_num': object,
'status_cd': object,
'voter_status_desc': object,
'reason_cd': object,
'voter_status_reason_desc': object,
'absent_ind': object,
'name_prefx_cd': object,
'last_name': object,
'first_name': object,
'middle_name': object,
'name_suffix_lbl': object,
'res_street_address': object,
'res_city_desc': object,
'state_cd': object,
'zip_code': object,
'mail_addr1': object,
'mail_addr2': object,
'mail_addr3': object,
'mail_addr4': object,
'mail_city': object,
'mail_state': object,
'mail_zipcode': object,
'full_phone_number': object,
'race_code': object,
'ethnic_code': object,
'party_cd': object,
'gender_code': object,
'birth_age': object,
'birth_state': object,
'drivers_lic': object,
'registr_dt': object,
'precinct_abbrv': object,
'precinct_desc': object,
'municipality_abbrv': object,
'municipality_desc': object,
'ward_abbrv': object,
'ward_desc': object,
'cong_dist_abbrv': object,
'super_court_abbrv': object,
'judic_dist_abbrv': object,
'nc_senate_abbrv': object,
'nc_house_abbrv': object,
'county_commiss_abbrv': object,
'county_commiss_desc': object,
'township_abbrv': object,
'township_desc': object,
'school_dist_abbrv': object,
'school_dist_desc': object,
'fire_dist_abbrv': object,
'fire_dist_desc': object,
'water_dist_abbrv': object,
'water_dist_desc': object,
'sewer_dist_abbrv': object,
'sewer_dist_desc': object,
'sanit_dist_abbrv': object,
'sanit_dist_desc': object,
'rescue_dist_abbrv': object,
'rescue_dist_desc': object,
'munic_dist_abbrv': object,
'munic_dist_desc': object,
'dist_1_abbrv': object,
'dist_1_desc': object,
'dist_2_abbrv': object,
'dist_2_desc': object,
'confidential_ind': object,
'birth_year': object,
'ncid': object,
'vtd_abbrv': object,
'vtd_desc': object

In [ ]:
df = df[['county_id', 'voter_reg_num', 'status_cd', 'absent_ind', 
         'first_name', 'middle_name', 'last_name',
         'res_street_address', 'res_city_desc', 'state_cd', 'zip_code',
         'mail_addr1', 'mail_addr2', 'mail_addr3', 'mail_addr4',
         'mail_city', 'mail_state', 'mail_zipcode',
         'full_phone_number',
         'race_code', 'ethnic_code', 'party_cd', 'gender_code', 'birth_year', 'birth_age', 'birth_state',
         'registr_dt', 'precinct_abbrv', 'precinct_desc', 'municipality_abbrv', 'municipality_desc',
         'ward_abbrv', 'ward_desc',
         'school_dist_abbrv', 'school_dist_desc'
         'cong_dist_abbrv', 'super_court_abbrv', 'nc_senate_abbrv']]

In [27]:
county = df.groupby(['county_id', 'county_desc']).size().reset_index(drop=True)
county

0    10000
dtype: int64

In [22]:
df[df.columns[0:20]].head()

,county_id,county_desc,voter_reg_num,status_cd,voter_status_desc,reason_cd,voter_status_reason_desc,absent_ind,name_prefx_cd,last_name,first_name,middle_name,name_suffix_lbl,res_street_address,res_city_desc,state_cd,zip_code,mail_addr1,mail_addr2,mail_addr3
0,1,ALAMANCE,9005990,A,ACTIVE,AV,VERIFIED,,,AABEL,EVELYN,LARSEN,NaN,4430 E GREENSBORO-CHAPEL HILL RD,GRAHAM,NC,27253.0,4430 E GREENSBORO-CHAPEL HILL RD,NaN,NaN
1,1,ALAMANCE,9178574,A,ACTIVE,AV,VERIFIED,,,AARDEN,JONI,AUTUMN,NaN,117 W CLAY ST,MEBANE,NC,27302.0,117 W CLAY ST,NaN,NaN
2,1,ALAMANCE,9048723,A,ACTIVE,AV,VERIFIED,,,AARON,CHRISTINA,CASTAGNA,NaN,421 WHITT AVE,BURLINGTON,NC,27215.0,421 WHITT AVE,NaN,NaN
3,1,ALAMANCE,9019674,A,ACTIVE,AV,VERIFIED,,,AARON,CLAUDIA,HAYDEN,NaN,1013 EDITH ST,BURLINGTON,NC,27215.0,1013 EDITH ST,NaN,NaN
4,1,ALAMANCE,9129589,A,ACTIVE,AV,VERIFIED,,,AARON,JAMES,MICHAEL,NaN,5608 OLD CHEROKEE LN,GRAHAM,NC,27253.0,PO BOX 98,NaN,NaN

In [23]:
df[df.columns[21:40]].head()

,mail_city,mail_state,mail_zipcode,full_phone_number,race_code,ethnic_code,party_cd,gender_code,birth_age,birth_state,drivers_lic,registr_dt,precinct_abbrv,precinct_desc,municipality_abbrv,municipality_desc,ward_abbrv,ward_desc,cong_dist_abbrv
0,GRAHAM,NC,27253,0.000000e+00,W,NL,UNA,F,84,NY,N,10/01/1984,08N,NORTH NEWLIN,NaN,NaN,NaN,NaN,13.0
1,MEBANE,NC,27302,2.024710e+09,W,UN,UNA,F,41,DC,Y,02/23/2018,10N,NORTH MELVILLE,MEB,MEBANE,NaN,NaN,13.0
2,BURLINGTON,NC,27215,3.362291e+09,W,UN,UNA,F,43,NC,Y,03/26/1996,03S,SOUTH BOONE,BUR,BURLINGTON,NaN,NaN,13.0
3,BURLINGTON,NC,27215,2.228834e+06,W,NL,UNA,F,74,VA,Y,08/15/1989,124,BURLINGTON 4,BUR,BURLINGTON,NaN,NaN,13.0
4,SAXAPAHAW,NC,27340,2.027443e+09,W,UN,DEM,M,71,MA,N,03/07/2012,08N,NORTH NEWLIN,NaN,NaN,NaN,NaN,13.0

In [25]:
df[df.columns[41:60]].head()

,judic_dist_abbrv,nc_senate_abbrv,nc_house_abbrv,county_commiss_abbrv,county_commiss_desc,township_abbrv,township_desc,school_dist_abbrv,school_dist_desc,fire_dist_abbrv,fire_dist_desc,water_dist_abbrv,water_dist_desc,sewer_dist_abbrv,sewer_dist_desc,sanit_dist_abbrv,sanit_dist_desc,rescue_dist_abbrv,rescue_dist_desc
0,15A,24.0,64.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,15A,24.0,63.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,15A,24.0,64.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15A,24.0,63.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,15A,24.0,64.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.head()

,county_id,county_desc,voter_reg_num,status_cd,voter_status_desc,reason_cd,voter_status_reason_desc,absent_ind,name_prefx_cd,last_name,...,munic_dist_desc,dist_1_abbrv,dist_1_desc,dist_2_abbrv,dist_2_desc,confidential_ind,birth_year,ncid,vtd_abbrv,vtd_desc
0,1,ALAMANCE,9005990,A,ACTIVE,AV,VERIFIED,,,AABEL,...,NaN,17.0,17TH PROSECUTORIAL,,,N,1935,AA56273,08N,08N
1,1,ALAMANCE,9178574,A,ACTIVE,AV,VERIFIED,,,AARDEN,...,MEBANE,17.0,17TH PROSECUTORIAL,,,N,1978,AA201627,10N,10N
2,1,ALAMANCE,9048723,A,ACTIVE,AV,VERIFIED,,,AARON,...,BURLINGTON,17.0,17TH PROSECUTORIAL,,,N,1976,AA98377,03S,03S
3,1,ALAMANCE,9019674,A,ACTIVE,AV,VERIFIED,,,AARON,...,BURLINGTON,17.0,17TH PROSECUTORIAL,,,N,1945,AA69747,124,124
4,1,ALAMANCE,9129589,A,ACTIVE,AV,VERIFIED,,,AARON,...,NaN,17.0,17TH PROSECUTORIAL,,,N,1948,AA170513,08N,08N