In [1]:
import pandas as pd
import random

In [6]:
skip = sorted(random.sample(range(1,7874990), 7774990))
vf = pd.read_csv('voterfile_nc_20200201.csv', skiprows=skip)
vf.shape

c:\users\d3ten\documents\gitprojects\nc_voter\venv\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (24,37,41,46,47,50,51,52,53,54,55,56,57,58,59) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(100000, 71)

In [7]:
vf.head()

,county_id,county_desc,voter_reg_num,status_cd,voter_status_desc,reason_cd,voter_status_reason_desc,absent_ind,name_prefx_cd,last_name,...,munic_dist_desc,dist_1_abbrv,dist_1_desc,dist_2_abbrv,dist_2_desc,confidential_ind,birth_year,ncid,vtd_abbrv,vtd_desc
0,1,ALAMANCE,9144385,I,INACTIVE,IN,CONFIRMATION NOT RETURNED,,,AARON,...,BURLINGTON,17.0,17TH PROSECUTORIAL,,,N,1975,AA181361,124,124
1,1,ALAMANCE,9023803,R,REMOVED,RS,MOVED FROM STATE,,,ABBOTT,...,NaN,NaN,NaN,,,N,1947,AA73791,NaN,NaN
2,1,ALAMANCE,9160382,I,INACTIVE,IN,CONFIRMATION NOT RETURNED,,,ADAM,...,BURLINGTON,17.0,17TH PROSECUTORIAL,,,N,1995,AA190991,12S,12S
3,1,ALAMANCE,9166822,R,REMOVED,RD,DECEASED,,,ADAMS,...,NaN,NaN,NaN,,,N,1926,DE259291,NaN,NaN
4,1,ALAMANCE,9000011,A,ACTIVE,AV,VERIFIED,,,ADAMS,...,NaN,17.0,17TH PROSECUTORIAL,,,N,1955,AA50366,07,07

In [8]:
counties = vf[['county_id', 'county_desc']].drop_duplicates().reset_index(drop=True)
counties.shape

(100, 2)

In [9]:
counties.head()

   county_id county_desc
0          1    ALAMANCE
1          2   ALEXANDER
2          3   ALLEGHANY
3          4       ANSON
4          5        ASHE

In [28]:
counties.rename(columns={'county_id': 'id', 'county_desc': 'name'}, inplace=True)
counties.to_csv('./helper_tables_20200210/county.csv', index=False)

In [41]:
counties[counties['name'] == 'YANCEY']

     id    name
99  100  YANCEY

In [16]:
precinct = vf[['county_id', 'precinct_abbrv', 'precinct_desc']].drop_duplicates().reset_index(drop=True)
precinct.shape

(2765, 3)

In [17]:
precinct.sort_values(['county_id', 'precinct_abbrv']).head()

    county_id precinct_abbrv  precinct_desc
21          1             01      PATTERSON
33          1             02          COBLE
12          1            035        BOONE 5
25          1            03C  CENTRAL BOONE
8           1            03N    NORTH BOONE

In [29]:
precinct.rename(columns={'precinct_abbrv': 'abbrv', 'precinct_desc': 'description'}, inplace=True)
precinct = precinct[~precinct['abbrv'].isna()]
precinct.to_csv('./helper_tables_20200210/precinct.csv', index=False)

In [23]:
munic = vf[['municipality_abbrv', 'municipality_desc', 'munic_dist_abbrv', 'munic_dist_desc']].drop_duplicates().reset_index(drop=True)
munic.shape

(558, 4)

In [24]:
status = vf[['status_cd', 'voter_status_desc']].drop_duplicates().reset_index(drop=True)
status.shape

(5, 2)

In [25]:
status

  status_cd voter_status_desc
0         I          INACTIVE
1         R           REMOVED
2         A            ACTIVE
3         D            DENIED
4         S         TEMPORARY

In [30]:
status.rename(columns = {'status_cd': 'cd', 'voter_status_desc': 'description'}, inplace=True)
status.to_csv('./helper_tables_20200210/status.csv', index=False)

In [32]:
status_reason = vf[['reason_cd', 'voter_status_reason_desc']].drop_duplicates().reset_index(drop=True)
status_reason.shape

(25, 2)

In [33]:
status_reason

   reason_cd                           voter_status_reason_desc
0         IN                          CONFIRMATION NOT RETURNED
1         RS                                   MOVED FROM STATE
2         RD                                           DECEASED
3         AV                                           VERIFIED
4         IU                CONFIRMATION RETURNED UNDELIVERABLE
5         RM  REMOVED AFTER 2 FED GENERAL ELECTIONS IN INACT...
6         AP                               VERIFICATION PENDING
7         RL                                  MOVED FROM COUNTY
8         DI                  UNAVAILABLE ESSENTIAL INFORMATION
9         DU                VERIFICATION RETURNED UNDELIVERABLE
10        RF                                  FELONY CONVICTION
11        RH                                 MOVED WITHIN STATE
12        RA                                     ADMINISTRATIVE
13        RT                               TEMPORARY REGISTRANT
14        RQ                                 REQUEST FROM VOTER
15        A2                               CONFIRMATION PENDING
16        R2                                          DUPLICATE
17        AN                                     UNVERIFIED NEW
18        A1                                         UNVERIFIED
19        RR                          FELONY SENTENCE COMPLETED
20        AL                                        LEGACY DATA
21        SO                                   OVERSEAS CITIZEN
22        RC                 REMOVED DUE TO SUSTAINED CHALLENGE
23        SM                                           MILITARY
24        AA                                       ARMED FORCES

In [35]:
vf.groupby(['voter_status_desc', 'voter_status_reason_desc']).size()

voter_status_desc  voter_status_reason_desc
ACTIVE             ARMED FORCES                                                    1
                   CONFIRMATION NOT RETURNED                                       9
                   CONFIRMATION PENDING                                          540
                   CONFIRMATION RETURNED UNDELIVERABLE                             9
                   LEGACY DATA                                                   613
                   UNVERIFIED                                                    234
                   UNVERIFIED NEW                                                154
                   VERIFICATION PENDING                                         6816
                   VERIFIED                                                    67249
DENIED             MOVED FROM STATE                                                1
                   UNAVAILABLE ESSENTIAL INFORMATION                              71
                   VERIFICATION RETURNED UNDELIVERABLE                          1636
INACTIVE           CONFIRMATION NOT RETURNED                                    7414
                   CONFIRMATION RETURNED UNDELIVERABLE                          4745
REMOVED            ADMINISTRATIVE                                                 18
                   DECEASED                                                     5079
                   DUPLICATE                                                      47
                   FELONY CONVICTION                                             215
                   FELONY SENTENCE COMPLETED                                     105
                   MOVED FROM COUNTY                                            1050
                   MOVED FROM STATE                                             1780
                   MOVED WITHIN STATE                                            127
                   REMOVED AFTER 2 FED GENERAL ELECTIONS IN INACTIVE STATUS     1882
                   REMOVED DUE TO SUSTAINED CHALLENGE                             10
                   REQUEST FROM VOTER                                             77
                   TEMPORARY REGISTRANT                                           96
TEMPORARY          MILITARY                                                        9
                   OVERSEAS CITIZEN                                               13
dtype: int64

In [36]:
status_reason.rename(columns= {'reason_cd': 'cd', 'voter_status_reason_desc': 'description'}, inplace=True)
status_reason.to_csv('./helper_tables_20200210/status_reason.csv', index=False)

In [37]:
vf['absent_ind'].unique()

array([' '], dtype=object)

In [38]:
vf['race_code'].unique()

array(['W', 'O', 'U', 'B', 'M', 'A', 'I'], dtype=object)

In [48]:
race = pd.DataFrame([('B', 'BLACK OR AFRICAN AMERICAN'),
                     ('I', 'AMERICAN INDIAN OR ALASKA NATIVE'),
                     ('O', 'OTHER'),
                     ('W', 'WHITE'),
                     ('U', 'UNDESIGNATED'),
                     ('A', 'ASIAN'),
                     ('M', 'TWO OR MORE RACES')])
race.columns = ['code', 'description']

In [49]:
race.to_csv('./helper_tables_20200210/race.csv', index=False)

In [39]:
vf['ethnic_code'].unique()

array(['HL', 'NL', 'UN'], dtype=object)

In [50]:
ethnicity = pd.DataFrame([('HL', 'HISPANIC OR LATINO'),
                          ('NL', 'NOT HISPANIC OR LATINO'),
                          ('UN', 'NOT PROVIDED')])
ethnicity.columns = ['code', 'description']

In [51]:
ethnicity.to_csv('./helper_tables_20200210/ethnicity.csv', index=False)

In [40]:
vf['party_cd'].unique()

array(['UNA', 'DEM', 'REP', 'LIB', 'GRE', 'CST'], dtype=object)

In [52]:
party = pd.DataFrame([('DEM', 'DEMOCRATIC PARTY'),
                      ('REP', 'REPUBLICAN PARTY'),
                      ('LIB', 'LIBERTARIAN PARTY'),
                      ('GRE', 'GREEN PARTY'),
                      ('CST', 'CONSTITUTION PARTY'),
                      ('UNA', 'UNAFFILIATED')])
party.columns = ['cd', 'description']

In [53]:
party.to_csv('./helper_tables_20200210/party.csv', index=False)